option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ReplaceWithAppID"
    MASTER_KEY: "ReplaceWithMasterKey"
    DATABASE_URI: "ReplaceWithDatabaseURI"
    NODE_ENV: "production"
    SERVER_URL: "http://myappname.elasticbeanstalk.com/parse"
    S3_ACCESS_KEY: "Key"
    S3_SECRET_KEY: "Secret"
    S3_BUCKET: "Bucket"
    S3_REGION: "Region"
    S3_BUCKET_PREFIX: "Prefix"
    S3_DIRECT_ACCESS: "DirectAccess"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
